<div class="col-md-6">
	<div class="row col-md-10">
			<input type="text" class="form-control" ng-model="search.$" placeholder="Buscar por...">
	</div>
	<br/>
	<br/>
	<table class="table">
	   <thead>
	      <tr>
	         <th>Nombre</th>
	         <th>Temporadas</th>
	         <th>Estado</th>
	         <th>#</th>
	      </tr>
	   </thead>
	   <tbody>
	      <tr ng-class="{'danger' : serie.estado.nombre === 'Pendiete', 'success' : serie.estado.nombre === 'Vista', 'info' : serie.estado.nombre === 'Mirando'}" ng-repeat="serie in ctrl.series | filter:search">
	         <td>{{serie.nombre}}</td>
	         <td>{{serie.temporadas}}</td>
	         <td>{{serie.estado.nombre}}</td>
	         <td><a href="" ng-click="ctrl.editar(serie)"><span class="glyphicon glyphicon-edit"></span></a></td>
	      </tr>
	   </tbody>
	</table>
</div>
<div class="divider"></div>
<div class="col-md-6" ng-show="ctrl.serie">
	<h3>Nombre: {{ctrl.serie.nombre}}</h3>
	<h3>Temporadas: {{ctrl.serie.temporadas}}</h3>
	<h3>Estado: {{ctrl.serie.estado.nombre}}</h3>
	<br/>
	<button type="button" class="btn btn-primary" ng-click="ctrl.retrocederEstado()">Retroceder estado</button>
	<button type="button" class="btn btn-primary" ng-click="ctrl.avanzarEstado()">Avanzar estado</button>
	<br/>
	<span style="color: red;" ng-show="ctrl.error">{{ctrl.error}}</span>
</div>
